body{
    background-color: lightgrey;
    margin: auto;
    font-family: "Times New Roman";
    font-weight: 100;
    text-align: center;
}

h1 {
    color: lightcoral;
    margin: 25px;
}

form{
    color: lightcoral;
    margin: auto;
    border: 5px solid darkgray;
    background-color: darkslategray;
    border-radius: 10px;
    width: 200px;
    padding: 15px;
}
input{
    width: 50%;
    margin-bottom: 25px;
}

select{
    margin-bottom: 20px;
    width: 75%;
}

.submitButton{
    width: 100%;
}

.result {
    font-size: 50px;
    margin: 20px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
